div{
margin: 10px;
    height: 100px;

    width: 100px;
    background-color: aqua;
    border: 3px solid black;
    transition: 3s;
}
section{
width: 75vw;
margin: 40px auto;
    border: 4px solid gray;
}
section:hover div{
    border: 3px solid black;
cursor: pointer;

    margin-left: 1000px;
}
section :nth-last-of-type(1){


    transition-timing-function: ease-out;
}

    section :nth-last-of-type(2){
    transition-timing-function: ease-in;
}
section:nth-last-of-type(3){

    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}
section:nth-last-of-type(4){

    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}